* {
    font-size: 14px;
}

html body,
html {
    height: 100%;
    background-color: #ffe3a94f;
    direction: ltr
}

.bg-white-50 {
    background: rgba(255, 255, 255, .8);
}

ul.nav.navbar-nav.bookmark-icons img {
    border-radius: 5px;
}

button span,
th {
    font-size: 12px !important;
}

div.dataTables_wrapper div.dataTables_length select,
.dataTables_filter input {
    width: auto;
    display: inline-block;
    margin: 0 5px;
}

div#DataTables_Table_0_filter {
    float: right;
    padding: 5px 0px;
}

ul.pagination {
    margin: 5px 0;
    float: right;
}

div#DataTables_Table_0_info {
    padding: 10px 0;
}

li.nav-item.dropdown.dropdown-language {
    background: #c30c1f;
    border-radius: 5px;
    padding: 5px;
}


/* Scroll */

::-webkit-scrollbar:hover {
    background: #d7b36959;
    border-radius: 4px;
    height: 8px;
    width: 15px;
}

::-webkit-scrollbar {
    background: #d7b36959;
    border-radius: 4px;
    height: 8px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #c30c1f;
    border-radius: 4px;
}

.avatar {
    white-space: nowrap;
    background-color: #C3C3C3;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: #FFF;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

.avatar .avatar-content {
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    font-size: .857rem;
}

#dashboard-ecommerce .card-header {
    border-bottom: 0 solid rgba(34, 41, 47, .125);
    background: #fdd785;
}

#dashboard-ecommerce .table:not(.table-dark):not(.table-light) tfoot:not(.table-dark) th,
#dashboard-ecommerce .table:not(.table-dark):not(.table-light) thead:not(.table-dark) th {
    background-color: #fdd785;
}


/* Config */

.col-xl-4.col-md-4.col-12 {
    display: none;
}

#dashboard-ecommerce .table {
    display: table;
}

a.dropdown-item,
.user-status {
    text-transform: capitalize;
}

td.dataTables_empty {
    text-align: center;
    background: #fcf5f5;
}

div#base-table_filter {
    text-align: right;
    margin-top: 5 px;
}

thead {
    background: #f2f2f2;
}

.d-flex.justify-content-between.align-items-center.mx-0.row {
    padding: 5px;
}

.select2-container {
    width: 100% !important;
    z-index: 99999;
}

.toast {
    border: 1px solid #edf2f9;
    background-color: #fff;
    max-width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
}

.toast .close {
    margin-bottom: 0px
}

.notification-toast {
    position: fixed;
    max-width: 350px;
    z-index: 1060
}

.notification-toast.top-right {
    top: calc(70px + 15px);
    right: 15px
}

.notification-toast.top-left {
    top: calc(70px + 15px);
    left: 15px
}

.notification-toast.top-middle {
    top: calc(70px + 15px);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%)
}

.notification-toast.bottom-right {
    bottom: 15px;
    right: 15px
}

.notification-toast.bottom-left {
    bottom: 15px;
    left: 15px
}

.notification-toast.bottom-middle {
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%)
}

.toast {
    max-width: 350px;
    overflow: hidden;
    font-size: 0.875rem;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: 0.25rem
}

.toast:not(:last-child) {
    margin-bottom: 0.75rem
}

.toast.showing {
    opacity: 1
}

.toast.show {
    display: block;
    opacity: 1
}

.toast.hide {
    display: none
}

.toast-header {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.toast-body {
    padding: 0.75rem
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin: -5px;
}

.close:hover {
    color: #000;
    text-decoration: none
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
    opacity: .75
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

a.close.disabled {
    pointer-events: none
}