* {
    font-size: 14px;
}

html body,
html {
    height: 100%;
    background-color: #ffe3a94f;
    direction: ltr
}

.bg-white-50 {
    background: rgba(255, 255, 255, .8);
}

ul.nav.navbar-nav.bookmark-icons img {
    border-radius: 5px;
}

button span,
th {
    font-size: 12px !important;
}

div.dataTables_wrapper div.dataTables_length select,
.dataTables_filter input {
    width: auto;
    display: inline-block;
    margin: 0 5px;
}

div#DataTables_Table_0_filter {
    float: right;
    padding: 5px 0px;
}

ul.pagination {
    margin: 5px 0;
    float: right;
}

div#DataTables_Table_0_info {
    padding: 10px 0;
}

li.nav-item.dropdown.dropdown-language {
    background: #c30c1f;
    border-radius: 5px;
    padding: 5px;
}


/* Scroll */

::-webkit-scrollbar:hover {
    background: #d7b36959;
    border-radius: 4px;
    height: 8px;
    width: 15px;
}

::-webkit-scrollbar {
    background: #d7b36959;
    border-radius: 4px;
    height: 8px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #c30c1f;
    border-radius: 4px;
}

.avatar {
    white-space: nowrap;
    background-color: #C3C3C3;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: #FFF;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

.avatar .avatar-content {
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    font-size: .857rem;
}

#dashboard-ecommerce .card-header {
    border-bottom: 0 solid rgba(34, 41, 47, .125);
    background: #fdd785;
}

#dashboard-ecommerce .table:not(.table-dark):not(.table-light) tfoot:not(.table-dark) th,
#dashboard-ecommerce .table:not(.table-dark):not(.table-light) thead:not(.table-dark) th {
    background-color: #fdd785;
}


/* Config */

.col-xl-4.col-md-4.col-12 {
    display: none;
}

#dashboard-ecommerce .table {
    display: table;
}

a.dropdown-item,
.user-status {
    text-transform: capitalize;
}

td.dataTables_empty {
    text-align: center;
    background: #fcf5f5;
}

div#base-table_filter {
    text-align: right;
    margin-top: 5 px;
}

thead {
    background: #f2f2f2;
}

.d-flex.justify-content-between.align-items-center.mx-0.row {
    padding: 5px;
}

.select2-container {
    width: 100% !important;
    z-index: 9999;
}

.toast {
    border: 1px solid #edf2f9;
    background-color: #fff;
    max-width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
}

.toast .close {
    margin-bottom: 0px;
    float: right;
}

.notification-toast {
    position: fixed;
    max-width: 350px;
    z-index: 1060
}

.notification-toast.top-right {
    top: calc(70px + 15px);
    right: 15px
}

.notification-toast.top-left {
    top: calc(70px + 15px);
    left: 15px
}

.notification-toast.top-middle {
    top: calc(70px + 15px);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%)
}

.notification-toast.bottom-right {
    bottom: 15px;
    right: 15px
}

.notification-toast.bottom-left {
    bottom: 15px;
    left: 15px
}

.notification-toast.bottom-middle {
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%)
}

.toast {
    max-width: 350px;
    overflow: hidden;
    font-size: 0.875rem;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -1px 1px 6px 9px rgb(0 0 0 / 10%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: 0.25rem;
}

.toast:not(:last-child) {
    margin-bottom: 0.75rem
}

.toast.showing {
    opacity: 1
}

.toast.show {
    display: block;
    opacity: 1
}

.toast.hide {
    display: none
}

.toast-header {
    display: block;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
    padding: 0.25rem 0.75rem;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.toast-body {
    padding: 0.75rem
}

.close {
    float: right;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin: -5px;
}

.close:hover {
    color: #000;
    text-decoration: none
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
    opacity: .75
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

a.close.disabled {
    pointer-events: none
}


/* Loader */

.loader-area {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: #ffffff85;
    z-index: 2147483647;
}

.loader-area:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(#e9ecef63, #edf2f9a6);
}

.loader-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    width: 120px;
    height: 120px;
}

.loader {
    width: 24px;
    height: 24px;
    background-color: #3f87f5;
    box-shadow: inset 0px 0px 0px 2px #fff;
    border-radius: 50%;
    position: relative;
    margin: 38px auto;
    /* Not necessary- its only for layouting*/
}

.loader:after,
.loader:before {
    position: absolute;
    content: "";
    background-color: #fff;
}

.loader:after {
    width: 10px;
    height: 2px;
    top: 11px;
    left: 11px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    transform-origin: 1px 1px;
    -webkit-animation: minhand 2s linear infinite;
    -moz-animation: minhand 2s linear infinite;
    animation: minhand 2s linear infinite;
}

.loader:before {
    width: 8px;
    height: 2px;
    top: 11px;
    left: 11px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    transform-origin: 1px 1px;
    -webkit-animation: hrhand 8s linear infinite;
    -moz-animation: hrhand 8s linear infinite;
    animation: hrhand 8s linear infinite;
}

@-webkit-keyframes minhand {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes minhand {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(360deg)
    }
}

@keyframes minhand {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes hrhand {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes hrhand {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(360deg)
    }
}

@keyframes hrhand {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

a.badge:hover,
a.badge:focus {
    text-decoration: none
}

.badge:empty {
    display: none
}

.btn .badge {
    position: relative;
    top: -1px
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem
}

.badge-primary {
    color: #fff;
    background-color: #007bff
}

a.badge-primary:hover,
a.badge-primary:focus {
    color: #fff;
    background-color: #0062cc
}

a.badge-primary:focus,
a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5)
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d
}

a.badge-secondary:hover,
a.badge-secondary:focus {
    color: #fff;
    background-color: #545b62
}

a.badge-secondary:focus,
a.badge-secondary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5)
}

.badge-success {
    color: #fff;
    background-color: #1e7e34;
}

a.badge-success:hover,
a.badge-success:focus {
    color: #fff;
    background-color: #1e7e34
}

a.badge-success:focus,
a.badge-success.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5)
}

.badge-info {
    color: #fff;
    background-color: #17a2b8
}

a.badge-info:hover,
a.badge-info:focus {
    color: #fff;
    background-color: #117a8b
}

a.badge-info:focus,
a.badge-info.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5)
}

.badge-warning {
    color: #212529;
    background-color: #ffc107
}

a.badge-warning:hover,
a.badge-warning:focus {
    color: #212529;
    background-color: #d39e00
}

a.badge-warning:focus,
a.badge-warning.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5)
}

.badge-danger {
    color: #fff;
    background-color: #dc3545
}

a.badge-danger:hover,
a.badge-danger:focus {
    color: #fff;
    background-color: #bd2130
}

a.badge-danger:focus,
a.badge-danger.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5)
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa
}

a.badge-light:hover,
a.badge-light:focus {
    color: #212529;
    background-color: #dae0e5
}

a.badge-light:focus,
a.badge-light.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5)
}

.badge-dark {
    color: #fff;
    background-color: #343a40
}

a.badge-dark:hover,
a.badge-dark:focus {
    color: #fff;
    background-color: #1d2124
}

a.badge-dark:focus,
a.badge-dark.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5)
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 4rem 2rem
    }
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem
}

.alert-heading {
    color: inherit
}

.alert-link {
    font-weight: 700
}

.alert-dismissible {
    padding-right: 4rem
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff
}

.alert-primary hr {
    border-top-color: #9fcdff
}

.alert-primary .alert-link {
    color: #002752
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db
}

.alert-secondary hr {
    border-top-color: #c8cbcf
}

.alert-secondary .alert-link {
    color: #202326
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.alert-success hr {
    border-top-color: #b1dfbb
}

.alert-success .alert-link {
    color: #0b2e13
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.alert-info hr {
    border-top-color: #abdde5
}

.alert-info .alert-link {
    color: #062c33
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.alert-warning hr {
    border-top-color: #ffe8a1
}

.alert-warning .alert-link {
    color: #533f03
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.alert-danger hr {
    border-top-color: #f1b0b7
}

.alert-danger .alert-link {
    color: #491217
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.alert-light hr {
    border-top-color: #ececf6
}

.alert-light .alert-link {
    color: #686868
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca
}

.alert-dark hr {
    border-top-color: #b9bbbe
}

.alert-dark .alert-link {
    color: #040505
}

.toast-body {
    background-color: transparent;
}

.gg-trash-empty {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}

.gg-trash-empty::after,
.gg-trash-empty::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-trash-empty::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}

.gg-trash-empty::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}

.gg-pen {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs, 1));
    width: 14px;
    height: 4px;
    border-right: 2px solid transparent;
    box-shadow: 0 0 0 2px, inset -2px 0 0;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-right: -2px
}

.gg-pen::after,
.gg-pen::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-pen::before {
    background: currentColor;
    border-left: 0;
    right: -6px;
    width: 3px;
    height: 4px;
    border-radius: 1px;
    top: 0
}

.gg-pen::after {
    width: 8px;
    height: 7px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 7px solid;
    left: -11px;
    top: -2px
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.dropdown-menu {
    max-height: 60vh;
    overflow-y: auto;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

.card {
    overflow: hidden;
}

a.btn-edit,
a.btn-delete {
    margin: 5px;
}

.customer-view .dt-action-buttons.text-end,
.customer-view .btn-edit,
.customer-view .btn-delete {
    display: none;
}

[type="file"] {
    /* Style the color of the message that says 'No file chosen' */
    color: #000;
}

[type="file"]::-webkit-file-upload-button {
    background: #c30c1f;
    border: 2px solid #c30c1f;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
    background: #c30c1f;
    border: 2px solid #535353;
    color: #000;
}

.progress-bar {
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #FFF;
    background-color: #28c76f;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
    width: 0%;
    height: 2px;
    /* border-radius: 50%; */
}

span.img-clear {
    position: absolute;
    background: red;
    padding: 5px;
    right: 10px;
    border-radius: 50%;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
}

.img-area {
    width: auto;
    position: relative;
}

@media (max-width:767.98px) {
    .header-navbar .navbar-container ul.navbar-nav li .selected-language,
    .log-outs {
        display: block !important;
    }
    li.nav-item {
        margin-bottom: 10px;
    }
    li.nav-item.dropdown.dropdown-user {
        display: none;
    }
    li.nav-item.dropdown.dropdown-language {
        margin-left: 5px;
    }
    .header-navbar .navbar-nav {
        margin: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
}

i.fi {
    font-size: 20px;
    color: #fff;
}

.red {
    color: #c30c1f;
}

.is-invalid+.select2 span.select2-selection.select2-selection--single {
    border-color: #EA5455 !important;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px !important;
}

.card-company-table h5.counter {
    margin: 0;
    padding: 0 5px;
    font-size: 17px;
    text-align: center;
    color: #7367f0;
    font-weight: bolder;
}

.card-company-table p.date-field {
    margin: 0;
    font-size: 10px;
    font-weight: 500;
}

.card-company-table tbody tr td:first-child div.text-center {
    text-align: left !important;
}

.card-company-table table.table thead tr {
    text-align: center;
}